modules = ["web", "nodejs-20"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
publicDir = "."

[userenv]

[userenv.shared]
GEMINI_API_KEY = "AIzaSyA-Ce5Uo5cmX2b984iZD_GLiJ6i2-5lN2c,AIzaSyBK1PM_dEejUssljAoeHMT_9S4LVwrAQcM,AIzaSyCJ9b7y7-XXKHgKh4jwg6NVGdR-mEW1uKA,AIzaSyCr8197yFllVFnpsf9o7A1llgKXwTbK7Qs"
