    *, *::before, *::after { box-sizing: border-box; }
    html {
      height: 100%;
      width: 100%;
    }
    body {
      height: 100%;
      width: 100%;
      margin: 0;
      font-family: 'Inter', sans-serif;
      background-color: #0c0c0c;
      color: #94a3b8;
      overflow-x: hidden;
      -webkit-tap-highlight-color: transparent;
      font-synthesis: none;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior-y: none;
    }
    #root {
      min-height: 100%;
    }

